/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}

body {
	background-image: url("../resources/hot_fuss.png");
}
button{
	border: 2px solid #000;
	background: none; 
	padding: 10px 20px;
	font-size: 20px; 
	font-family: 'Arial', sans-serif;
	cursor: pointer; 
	margin: 10px;
	color: #000;
	transition: 0.8s;
	position: relative; 
	overflow: hidden;
}
