/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}
.banner{
	width: 100%; 
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(../resources/hot_fuss.png);
	background-size: cover;
	background-position: center;
}
